[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"
python_full_version = "3.7.0"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
black = "*"
"flake8" = "*"
rope = "*"
pytest = "*"
mock = "*"
